* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/foto-gratis/fondo-arte-digital-japon_23-2151546198.jpg?w=1380&t=st=1724808660~exp=1724809260~hmac=adc5daabaecca194be47a56d292cf08671bdd8bb6cceaba4cb127419e60fe7fb");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.container {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    resize: none;
    font-size: 16px;
}

textarea[readonly] {
    background-color: #f9f9f9;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    textarea {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
    }
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #FFFFFF;
     width: 100%;
    position: relative;
    bottom: 0;
}